NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Admin Preview
ADMIN_PASSWORD=

# Future Auth
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Future Payment
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Future Video
NEXT_PUBLIC_VIDEO_PROVIDER=
